/* --- Global styling --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* --- fonts --- */

  @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

  /* --- fonts --- */

  a {
    text-decoration: none;
    color: var(--complementary);
  }

  :root{
    --main-color: #3AAfA9;
    --second-color: #2B7A78;
    --complementary: #17252A;
  }
/* --- Global styling --- */


/* --- Header styling --- */
  header {
    background: var(--main-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  #toggle-menu {
    display: none;
  }

  header .header-wrapper label {
    float: right;
    font-size: 32px;
    margin: 1rem 1.5rem;
  }

  header .header-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo img {
    width: 4rem;
    margin-top: .5rem;
  }

  #navbar {
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    transition: all 0.5s;
    transform: translate(-100%);
  }

  #toggle-menu:checked ~ #navbar {
    transform: translateX(0%);
  }

  #navbar ul li a {
    padding: 15px;
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
    color: var(--complementary);
    transition: all .5s;
  }

  #navbar ul li a:hover {
    color: var(--complementary);
    background: #fff;
  }

  #contact-bottom{
    background: var(--complementary);
    color: #fff !important;
  }

  #contact-bottom:hover {
    background: #fff !important;
    color: var(--complementary) !important;
  }

  @media (min-width:992px){

    header {
      display: flex;
      justify-content: center;
    }

    #navbar {
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      display: flex;
      background: none;
      padding: 1.5rem 70px;
    }

    #navbar ul {
      display: flex;
      justify-content: center;
    }

    #navbar ul li {
      list-style: none;
    }

    #navbar ul li a {
      border-radius: 15px;
      padding: 7px 27px;
      margin: 7px;
    }

    #navbar ul li a:hover {
      background: var(--complementary);
      color: #fff;
    }

    header .header-wrapper label {
      display: none;
    }
  }

  /* --- Header styling --- */

  /* --- welcome section --- */

  .slide-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .slide-content h1{
    font-size: 2rem;
    font-weight: 1000;
    color: white;
    font-family: 'Ranchers', normal;
  }

  .slide-content h2 {
    font-size: 1rem;
  }

  .slide-content > .container {
    width: 85%;
    text-align: center;
  }

  #welcome-section {
    position: relative;
  }

  .slide {
    background-color: var(--main-color);
    overflow: hidden;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
  }

  #arrow-left {
    border-width: 15px 20px 15px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 7px;
  }

  #arrow-left:hover {
    border-color: transparent var(--second-color) transparent transparent;
  }

  .animateLeft {
    animation: backInLeft;
    animation-duration: 1s;
  }

  #arrow-right {
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 7px;
  }

  #arrow-right:hover{
    border-color: transparent transparent transparent var(--second-color);
  }

  .animateRight {
    animation: backInRight;
    animation-duration: 1s;
  }

  /* --- projects --- */

  #slider .container .links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 10px;
    font-family: 'Ranchers', normal;
  }

  #slider .container .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #slider .container .links-container .projects a{
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--second-color);
    color: #fff;
    transition: all .5s;
    animation-name: animationScale;
	  animation-duration: 1.5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  animation-fill-mode: both;
	  animation-timing-function: ease-in-out;
  }

  #slider .container .links-container .projects a:hover{
    background: #fff;
    color: var(--complementary);
  }

  #slider .container .projects img{
    width: 2rem;
  }

  .project-icon {
    animation-name: animationScale;
	  animation-duration: 1.5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  animation-fill-mode: both;
	  animation-timing-function: ease-in-out;
  }

  @media (min-width:600px){
    #slider .container .projects img{
      width: 3rem;
    }

    #arrow-left {
      border-width: 30px 40px 30px 0;
      margin-left: 2rem;
    }

    #arrow-right {
      border-width: 30px 0 30px 40px;
      margin-right: 2rem;
    }
  }

  @media (min-width:857px){
    #slider .container .links-container{
      flex-direction: row;
      column-gap: .5rem;
    }

    #slider .container .projects img{
      width: 4rem;
    }
  }

  #slider .slide.slider2 a {
    padding: 10px 20px;
    border-radius: 15px;
    background: var(--second-color);
    color: #fff;
    transition: all .5s; 
  }

  #slider .slide.slider2 a{
    animation-name: animationScale;
	  animation-duration: 1.5s;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  animation-fill-mode: both;
	  animation-timing-function: ease-in-out;
  }

  @keyframes animationScale {
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(.9);
    }
    100%{
      transform: scale(1);
    }
  }

  /* --- projects --- */

  /* --- main content --- */

  #main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem;
  }

  #main-content > div {
    padding: 1rem 1.3rem;
  }

  #websites{
    border: 3px dotted var(--main-color);
  }

  .sub-titles{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--second-color);
    font-family: 'Asap', sans-serif;
    text-align: center;
    padding: 1rem 0;
  }

  #websites p {
  }

  @media (min-width:768px){
    #websites{
    }
  }

  /* --- main content --- */

  /* --- seo content --- */

  #seo-content{
    border: 3px dotted var(--main-color);
  }

  #seo-content p {
    
  }

  /* --- seo content --- */

  /* --- ads content --- */

  #ads{
    border: 3px dotted var(--main-color);
  }

  #ads p {
  }

  .concepts dt {
    font-weight: bold;
  }

  /* --- ads content --- */

  /* --- 3D image slideshow --- */

  .slideshow {
    width: 100%;
    margin: 0 auto;
    padding-top: 8rem;
    height: 550px;
  }

  .showingThings {
    display: block;
  }

  .slideshow .title-works {
    font-size: 2rem;
    color: var(--main-color);
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-weight: 1000;
  }

  .slideshow .content {
    margin: auto;
    width: 150px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
  }

  .slideshow .content .content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
  }

  .slideshow .content .content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
  }

  .slideshow .content .content-carrousel figure {
    width: 100%;
    height: 100px;
    border: 1px solid var(--complementary);
    /*overflow: hidden;*/
    position: absolute;
  }

  .slideshow .content .content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(120px);
  }

  .slideshow .content .content-carrousel figure:nth-child(2) {
    transform: rotateY(70deg) translateZ(120px);
  }

  .slideshow .content .content-carrousel figure:nth-child(3) {
    transform: rotateY(140deg) translateZ(120px);
  }

  .slideshow .content .content-carrousel figure:nth-child(4) {
    transform: rotateY(210deg) translateZ(120px);
  }

  .slideshow .content .content-carrousel figure:nth-child(5) {
    transform: rotateY(280deg) translateZ(120px);
  }

  .slideshow .content .content-carrousel .shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px var(--complementary);
    border-radius: 2px;
  }

  .slideshow .content .content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }

  .slideshow .content .content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }

  @keyframes rotar {
    from{
      transform: rotateY(0deg);
    } to{
      transform: rotateY(360deg);
    }
  }

  @media (min-width:576px) {
    .slideshow .content .content-carrousel figure {
      height: 150px;
    }

    .slideshow .content {
      width: 200px;
    }

    .slideshow .content .content-carrousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(180px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(2) {
      transform: rotateY(70deg) translateZ(180px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(3) {
      transform: rotateY(140deg) translateZ(180px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(4) {
      transform: rotateY(210deg) translateZ(180px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(5) {
      transform: rotateY(280deg) translateZ(180px);
    }
  }

  @media (min-width:768px) {
    .slideshow .content .content-carrousel figure {
      height: 200px;
    }

    .slideshow .content {
      width: 250px;
    }

    .slideshow .content .content-carrousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(300px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(2) {
      transform: rotateY(70deg) translateZ(300px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(3) {
      transform: rotateY(140deg) translateZ(300px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(4) {
      transform: rotateY(210deg) translateZ(300px);
    }
  
    .slideshow .content .content-carrousel figure:nth-child(5) {
      transform: rotateY(280deg) translateZ(300px);
    }
  }

  /* --- 3D image slideshow --- */

  /* --- welcome section --- */

  /* --- contact icons --- */
  #footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3AAfA9;
  }
  
  #contact .links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    color: #3AAfA9;
  }
  
  #contact .links .icons {
    padding: 15px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #3AAfA9;
    transition: transform 0.3s ease-out;
  }
  
  @media (max-width:520px) {
    #contact .links .icons {
      font-size: 1rem;
    } 
  }
  
  #contact .links .icons:hover {
    transform: translateY(8px);
  }

  /* --- contact icons --- */

  /* --- footer --- */
  
  footer{
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    border-top: 4px solid var(--main-color);
  }
  
  footer > p {
    margin: 1rem;
    color: var(--main-color);
  }

  /* --- footer --- */